<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Hjälp</h2>
    <p>
      We'll hjälp you to find matställen in your hoods. We'll also hjälp you decide where to go, if you like us are bunch of obeslutsamma persons.
    </p>
    <p>
      Vote for your preferred matställe or follow resten av gängets preferences.
    </p>
    <p>
    If you need help with your app, call me maybe. 073 - 951 70 90 or don't.
    </p>
    <p>
      Peas out.
    </p>
  </ion-content>
</ion-view>
